@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline {
  position: relative;
}
.hover-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #C0A265;
  transition: width 0.3s;
}
.hover-underline:hover::after {
  width: 100%;
}
